<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yan.referencecount.dumps.view">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <activity
            android:name="com.yan.referencecount.dumps.view.PermissionActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name=".AutoShowProvider"
            android:authorities="${applicationId}.dumps.view"
            android:exported="false" />
    </application>
</manifest>